.Reserve {
  width: 100%;
  height: 100vh;
  color: #FFF;
  background-color: #1C1C1C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Reserve .close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
}

.Reserve .list {
  width: 700px;
  height: 400px;
  margin: 60px auto;
  position: relative;
  overflow-y: scroll;
  padding: 0 30px;
}

.Reserve .list::-webkit-scrollbar {
  border-radius: 30px;
  background: #141414;
}

/* Track */
.Reserve .list::-webkit-scrollbar-track {
  background: #141414;
  border-radius: 30px;
}

/* Handle */
.Reserve .list::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 30px;
}

/* Handle on hover */
.Reserve .list::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.Reserve .list .item {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #141414;
  align-items: center;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  cursor: pointer;
  color: #e7e7e7;
}

.Reserve .list .item .leftSide {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Reserve .list .item .leftSide p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.4;
}

.Reserve .list .item .rightSide {
  background-color: #474747;
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.available {
  background-color: #0f75c9 !important;
}

.errorMessage {
  color: #E41E26;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 800px) {
  .Reserve .list {
    width: 82%;
  }
}