.Button {
    color: #FFF;
    border: 0;  
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.signIn {
    width: 300px;
    height: 50px;
    background-color: #E41E26;
    border-radius: 25px;
    font-size: 16px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.3); 
}

.backAndReserve {
    width: 130px;
    height: 40px;
    border-radius: 8px;
    background: #0f75c9;
    font-size: 16px;
}

@media(max-width: 450px) {
    .Button {
        width: 130px;
    }
}